header>a {
    color: black;
    text-shadow: 3px 3px 0px #fff;
}

.card-group {
    display: flex;
    box-shadow: 2px 2px 5px #000;
    margin-bottom: 30px;
}

.card {
    padding: 2rem 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-format {
    background-color: rgba(140, 39, 3, 1);
}

.bg-numbers {
    background-color: rgba(217, 121, 113, 1);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    text-decoration: none;
}

h2 {
    color: white;
    font-size: 1.8rem;
    text-shadow: 2px 2px 0px #000;
}

select {
    outline: none;
    padding: 1rem;
    background-color: white;
    color: black;
    text-shadow: 3px 3px 0px #fff;
    transition: all 0.4s ease-in-out, padding 0.2s ease-in-out,
        font-weight 0s linear;
    font-family: "Cutive Mono", monospace;
    font-size: 2rem;
}

select:hover,
select:active {
    box-shadow: 5px 5px 1px #0d1f36;

}