.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.clock {
	 border-radius: 50%;
	 background: #fff;
	 border: 5px solid white;
	 box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
	 width: 350px;
   margin-left: auto;
   margin-right: auto;
}

.wrap {
	 position: relative;
	 width: 350px;
	 height: 350px;
}

#best-minute, #best-heure {
	 position: absolute;
	 height: 100px; width: 6px;
	 margin: auto;
	 top: -27%; left: 0;	bottom: 0; right: 0;
	 transform-origin: bottom center;
	 transform: rotate(0deg);
	 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
     background: black;
}

#best-minute {
	 position: absolute;
	 height: 130px;
	 width: 4px;
	 top: -38%;
	 left: 0;
	 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	 transform: rotate(90deg);
}

#best-seconde {
	 position: absolute;
	 height: 90px;
	 width: 2px;
	 margin: auto;
	 top: -26%;
	 left: 0;
	 bottom: 0;
	 right: 0;
	 border-radius: 4px;
	 background: #ff4b3e;
	 transform-origin: bottom center;
	 transform: rotate(180deg);
}

#minute, #heure {
	 position: absolute;
	 height: 100px; width: 6px;
	 margin: auto;
	 top: -27%; left: 0;	bottom: 0; right: 0;
	 transform-origin: bottom center;
	 transform: rotate(0deg);
	 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
     background: black;
}

#minute {
	 position: absolute;
	 height: 130px;
	 width: 4px;
	 top: -38%;
	 left: 0;
	 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
	 transform: rotate(90deg);
}

#seconde {
	 position: absolute;
	 height: 90px;
	 width: 2px;
	 margin: auto;
	 top: -26%;
	 left: 0;
	 bottom: 0;
	 right: 0;
	 border-radius: 4px;
	 background: #ff4b3e;
	 transform-origin: bottom center;
	 transform: rotate(180deg);
}

.dot {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 width: 12px;
	 height: 12px;
	 border-radius: 50%;
	 background: white;
	 border: 2px solid #1b1b1b;
	 border-radius: 50%;
	 margin: auto;
}

#best-h12{
    -webkit-transform: translate(0px, -150px);
    -o-transform: translate(0px, -150px);
    transform: translate(0px, -150px);
}
#best-h14{
    -webkit-transform: rotate(30deg) translate(0px, -150px);
    -o-transform: rotate(30deg) translate(0px, -150px);
    transform: rotate(30deg) translate(0px, -150px);
}
#best-h16{
    -webkit-transform: rotate(60deg) translate(0px, -150px);
    -o-transform: rotate(60deg) translate(0px, -150px);
    transform: rotate(60deg) translate(0px, -150px);
}
#best-h18{
    -webkit-transform: rotate(90deg) translate(0px, -150px);
    -o-transform: rotate(90deg) translate(0px, -150px);
    transform: rotate(90deg) translate(0px, -150px);
}
#best-h20{
    -webkit-transform: rotate(120deg) translate(0px, -150px);
    -o-transform: rotate(120deg) translate(0px, -150px);
    transform: rotate(120deg) translate(0px, -150px);
}
#best-h22{
    -webkit-transform: rotate(150deg) translate(0px, -150px);
    -o-transform: rotate(150deg) translate(0px, -150px);
    transform: rotate(150deg) translate(0px, -150px);
}
#best-h24{
    -webkit-transform: rotate(180deg) translate(0px, -150px);
    -o-transform: rotate(180deg) translate(0px, -150px);
    transform: rotate(180deg) translate(0px, -150px);
}
#best-h2{
    -webkit-transform: rotate(210deg) translate(0px, -150px);
    -o-transform: rotate(210deg) translate(0px, -150px);
    transform: rotate(210deg) translate(0px, -150px);
}
#best-h4{
    -webkit-transform: rotate(240deg) translate(0px, -150px);
    -o-transform: rotate(240deg) translate(0px, -150px);
    transform: rotate(240deg) translate(0px, -150px);
}
#best-h6{
    -webkit-transform: rotate(270deg) translate(0px, -150px);
    -o-transform: rotate(270deg) translate(0px, -150px);
    transform: rotate(270deg) translate(0px, -150px);
}
#best-h8{
    -webkit-transform: rotate(300deg) translate(0px, -150px);
    -o-transform: rotate(300deg) translate(0px, -150px);
    transform: rotate(300deg) translate(0px, -150px);
}
#best-h10{
    -webkit-transform: rotate(330deg) translate(0px, -150px);
    -o-transform: rotate(330deg) translate(0px, -150px);
    transform: rotate(330deg) translate(0px, -150px);
}
#h0{
    -webkit-transform: translate(0px, -150px);
    -o-transform: translate(0px, -150px);
    transform: translate(0px, -150px);
}
#h1{
    -webkit-transform: rotate(30deg) translate(0px, -150px);
    -o-transform: rotate(30deg) translate(0px, -150px);
    transform: rotate(30deg) translate(0px, -150px);
}
#h2{
    -webkit-transform: rotate(60deg) translate(0px, -150px);
    -o-transform: rotate(60deg) translate(0px, -150px);
    transform: rotate(60deg) translate(0px, -150px);
}
#h3{
    -webkit-transform: rotate(90deg) translate(0px, -150px);
    -o-transform: rotate(90deg) translate(0px, -150px);
    transform: rotate(90deg) translate(0px, -150px);
}
#h4{
    -webkit-transform: rotate(120deg) translate(0px, -150px);
    -o-transform: rotate(120deg) translate(0px, -150px);
    transform: rotate(120deg) translate(0px, -150px);
}
#h5{
    -webkit-transform: rotate(150deg) translate(0px, -150px);
    -o-transform: rotate(150deg) translate(0px, -150px);
    transform: rotate(150deg) translate(0px, -150px);
}
#h6{
    -webkit-transform: rotate(180deg) translate(0px, -150px);
    -o-transform: rotate(180deg) translate(0px, -150px);
    transform: rotate(180deg) translate(0px, -150px);
}
#h7{
    -webkit-transform: rotate(210deg) translate(0px, -150px);
    -o-transform: rotate(210deg) translate(0px, -150px);
    transform: rotate(210deg) translate(0px, -150px);
}
#h8{
    -webkit-transform: rotate(240deg) translate(0px, -150px);
    -o-transform: rotate(240deg) translate(0px, -150px);
    transform: rotate(240deg) translate(0px, -150px);
}
#h9{
    -webkit-transform: rotate(270deg) translate(0px, -150px);
    -o-transform: rotate(270deg) translate(0px, -150px);
    transform: rotate(270deg) translate(0px, -150px);
}
#h10{
    -webkit-transform: rotate(300deg) translate(0px, -150px);
    -o-transform: rotate(300deg) translate(0px, -150px);
    transform: rotate(300deg) translate(0px, -150px);
}
#h11{
    -webkit-transform: rotate(330deg) translate(0px, -150px);
    -o-transform: rotate(330deg) translate(0px, -150px);
    transform: rotate(330deg) translate(0px, -150px);
}
.sep{
    position: absolute;
    height: 10px;
    width: 10px;
    text-align: center;
    line-height: 10px;
    top: 175px;
    left: 175px;
    color: #3A5486;
}
/* .sep:before{
    content: '&#8226;';
} */