@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Raleway:wght@300;400&family=VT323&display=swap");

body {
  margin: 0;
  /* font-family: "Raleway", sans-serif; */
  font-family: "Cutive Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}